---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import LinkedIn from '../components/icons/LinkedIn.astro'
import Github from '../components/icons/Github.astro'
import SocialData from '../components/SocialData.astro';
import Mail from '../components/icons/Mail.astro';
import Achievements from '../components/icons/Achievements.astro';
import CV from '../utils/02 - Batres F - Frontend Dev - English.pdf'

import Experience from '../components/Experience.astro';
import SectionCont from '../components/SectionCont.astro';
import AboutIcon from '../components/icons/AboutIcon.astro';
import AboutMe from '../components/AboutMe.astro';
import ContactMe from '../components/ContactMe.astro';
import ContactIcon from '../components/icons/ContactIcon.astro';
import DownLoadIcon from '@/components/icons/DownLoadIcon.astro';

---

<Layout title="Welcome to my Portfolio Full Stack Developer Fernando Batres."
description="Hire me and get an excellent developer, proactive, commited with purposes">
	<main class="px-2">

		<SectionCont>
				
			<img
		    src="https://res.cloudinary.com/fitevolution/image/upload/v1705891914/myAvatar_v4weyz.png" alt="Ferjuan"
			class=" absolute size-12 rounded-full">	

			<h1 class=" text-white text-xl md:text-3xl lg:text-5xl font-bold flex justify-center flex-row gap-x-5 pb-10">Hey! I'm FerJuan 
				
				<a href="https://www.linkedin.com/in/ferjuanb101/" target="_blank" rel="noopener"
				class="flex justify-center items-center">
					<Badge>Open to Work</Badge>
				</a>
			</h1>
				
			
			<div class="max-w-[700px] text-xl lg:text-2xl flex justify-center gap-x-2 pb-6 pt-2 lg:pb-10">
				
				<h2 class="text-yellow-200 italic" >FullStack Developer</h2>
				<h2 class=" text-sky-200 opacity-75">San Carlos Centro, Argentina 🇦🇷</h2>
				
				<h2 class="text-white opacity-75 italic"></h2>
				
			</div>	
			<nav class="flex gap-4 mt-6 justify-between">
					<SocialData href="https://www.linkedin.com/in/ferjuanb101/">
						<LinkedIn class="size-4 md:size-6"/> 
						LinkedIn
					</SocialData>	
					<SocialData href="https://github.com/FerjuanB">
						<Github class="size-4 md:size-6"/> 
						Github
					</SocialData>	
					<SocialData href="mailto:fbatres@gmail.com" >
						<Mail class="size-4 md:size-6" /> 
						Fbatres@gmail.com
					</SocialData>	
					<SocialData href={CV} >
						<DownLoadIcon class="size-4 md:size-6" /> 
						My CV
					</SocialData>	
			</nav>
		</SectionCont>	
		
		
		<SectionCont>
			<h2 class="text-2xl font-semiboldbold mb-3 flex gap-x-2 text-white items-center" >
			<Achievements id="projects" class="size-6"/>
				My projects & Achievements </h2>
			<Experience /> 		
		</SectionCont>			
		
		<SectionCont>
			<h2 class="text-2xl font-semiboldbold mb-3 flex gap-x-2 text-white items-center" >
			<AboutIcon id="about" class="size-6"/>
				About Me </h2>
			<AboutMe /> 		
		</SectionCont>			
		<SectionCont>
			<h2 class="text-2xl font-semiboldbold mb-3 flex gap-x-2 text-white items-center" >
			<ContactIcon id="contact" class="size-6"/>
				Contact Me </h2>
			<ContactMe /> 		
		</SectionCont>			
		
	</main>
</Layout>