<section class="text-sky-200 flex gap-x-10">
<div class="[&>p]:mb-4">
   
    <p>
        <strong class="text-yellow-200">    My name's Fernando Juan Batres. I'm 35 years old</strong>
        I am a Licensed Nurse with over 10 years of experience in emergency care. A little over a year ago, I ventured into the tech world through <em class="italic">Soy Henry's Full Stack Development program </em>, a challenging but rewarding journey.
    </p>
    
    <p>
        
        I've learned, through people's care, to show confidence and empathy. Whether publicly speaking or in high-pressure situations, I strive for effective communication, maintaining respect, cordiality, and a positive atmosphere.
    </p>
    
    <p>
        
        My technical skills focus on <strong class="text-yellow-200"> front-end development, where I excel in programming logic, code writing, and continuous improvement.</strong> While comfortable in the backend, I have a preference for being at the forefront of projects. I approach tasks with dedication, giving my best and seeking to be useful without hindering others.
    </p>
</div>
<img
src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBBZXAivnc6YHRTEZqyP22dRrW9dVEm5TRke2t3XdSR282fchzQrXSVghjrlnxSTzho9g&usqp=CAU" alt="Ferjuan"
class="w-90 h-40 rounded">	
</section>