<header class="
sticky top-0
z-10
flex justify-center items-center py-5 mt-2 w-full xl:w-[1120px] mx-auto" >
<span></span>


<nav class="
backdrop-blur-2xl
border border-black rounded justify-between px-2
text-black font-semibold 
bg-neutral-200
flex flex-row gap-x-10 opacity-80 ">
<a href="/#top">Start</a>
<a href="/#projects">Projects</a>
<a href="/#about">About me</a>
<a href="/#contact">Contact Me</a>


</nav>
</header>